[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio-nats-client = "*"
msgpack = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-intl = "*"

[requires]
python_version = "3.9"
